body {
    margin: 0;
    border: 10px solid turquoise;
    overflow-y: auto;
}

div.layout {
    display: grid;
    gap: 0;
    height: 100vh;
    background-color: turquoise;
}

.header {
    display: grid;
    gap: 15px;
    grid-template-columns: 300px     200px       200px       200px;
    grid-template-rows: 50px;
    height: 0px;
    box-sizing: border-box;
    text-align: center;
    width: 90px;
}

nav li {
    list-style: none;
    font-family: arial;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid turquoise;
    background-color: white;
    display: inline-flex;
    padding: 5px 20px;
}

ul {
    position: absolute;
    display: inline-block;
}

a:hover {
    background: turquoise;
    border-radius: 5px;
    border: 2px solid turquoise;
}

a {
    text-decoration: none;
}

.name {
    display: grid;
    font-family: arial;
    font-size: 30px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    place-items: center;
    font-weight: bold;
    color: white;
}

div.main {
    display: grid;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    justify-content: center;

}

h1 {
    justify-content: center;
    display: grid;
    font-family: arial;
    color: white;
    font-size: 75px;
}


p {
    display: inline-block;
    color: white;
    margin: 0;
    border: 0;
    width: 500px;
    height: 100px;
    font-size: 20px;
    box-sizing: content-box;
    text-align: left;
}

.main p strong {
    color: black;
}

.main p u{
    text-decoration: underline;
    text-decoration-color: black;
  }